* {
    font-family: monospace;
}

body{
    background-color: black;
}


.modal-container{
    display: flex;
    position: fixed;
    /* z-index: 1; */
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.modal {
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
}

.modal-header {
    background-color: rgba(7, 6, 20, 0.898);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100vw;
    max-width: 500px;
    height: 10vh;
    max-height: 20vh;
    border: none;
    outline: none;
    overflow: hidden;
    padding: 5px;
}

.modal-content {
    display: flex;
    justify-content: center;
    background-color: rgba(2, 2, 6, 0.898);
    color: rgb(255, 255, 255);
    width: 100vw;
    max-width: 500px;
    height: auto;
    padding: 5px;
    border: none;
    outline: none;
}

.modal-footer {
    background-color: rgb(144, 148, 151);
    color: black;
    display: flex;
    justify-content: right;
    width: 100vw;
    max-width: 500px;
    border: none;
    outline: none;
    padding: 5px;
    border: none;
    outline: none;
}

.submit-btn{
    width: 10vw;
    height: 10vh;
    background-color: rgba(7, 6, 20, 0.932);
    color: aliceblue;
    border-radius: 5px;    
}

.submit-btn:hover{
    background-color: rgba(24, 17, 17, .1);
    border-radius: 10px;
}

.center-submit-btn{
    display: flex;
    justify-content: center;
}

.new-account{
    text-align: center;
}

.already-account{
    font-size: medium;
    text-align: center;
}